@model IEnumerable<AzPodcastTranscriber.Shared.TranscriptionResult>

@{
    ViewData["Title"] = "Index";
}

<h1>PodCasts</h1>

@if (!Model.Any())
{
    <p>No Podcasts with Transcriptions Found</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Play", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
